* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  border: none;
}

.list {
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
}

.subtitles {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-right: auto;
  margin-bottom: 16px;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background-color: #f6f6fe;
}

.list-items {
  width: 360px;
}

.items {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-top: 8px;
  padding-right: auto;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 1128px;
}
.gallery-items {
  max-width: 360px;
  flex-basis: calc((100% - 2 * 20px) / 3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  padding-top: 8px;
  padding-right: auto;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
}

.input-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.greeting {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background: #6c8cff;
}

.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
}

.input-form {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 0;
}

input:hover,
input:focus {
  border: 1px solid #000;
}

.label-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.widget {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
  background-color: #fff;
}

.change-color {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.change-color:hover {
  background: #6c8cff;
}

.widget-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  max-width: 169px;
  margin-bottom: 16px;
}
